<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="doublej.bobtudy">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.LoginActivity"
            android:label="BoBtudy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UI.JoinActivity"
            android:label="BoBtudy"></activity>
        <activity
            android:name=".UI.ModifyInfoActivtiy"
            android:label="BoBtudy"></activity>
        <activity
            android:name=".UI.MyInfoActivity"
            android:label="BoBtudy"></activity>
        <activity
            android:name=".UI.CurrentBoBroom"
            android:label="BoBtudy"></activity>
        <activity
            android:name=".UI.CreateBoBroom"
            android:label="BoBtudy"></activity>
        <activity
            android:name=".UI.VoteSuggestionActivity"
            android:label="BoBtudy"></activity>
        <activity
            android:name=".UI.ChattingActivity"
            android:label="BoBtudy"></activity>
        <activity
            android:name=".UI.MyBoBRoomActivity"
            android:label="BoBtudy"></activity>
        <activity
            android:name=".UI.PreviousBoBtudyActivity"
            android:label="BoBtudy"></activity>


    </application>

</manifest>
